<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientName" value="HikVision.Home.Service"/>
    <add key="HAServerIP" value="10.0.0.16"/>
    <add key="HAServerPort" value="1883"/>
    <add key="HAUsername" value="rizaan"/>
    <add key="HAPassword" value="Rowdy_031"/>
    <add key="MqttTopic" value="hikvision/events"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>